@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter";
  font-style: normal;
  background: #fafafa;
  color: #73509f;
}

img {
  display: block;
  max-width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 100%;
  padding-inline: 1rem;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1283px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.outer-box {
  max-width: 100%;
  min-height: 280px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 0px 67px 6px rgba(137, 69, 236, 0.17);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 1rem;
}
.inner-box {
  max-width: 100%;
  /* height: 247.38px; */
  background: linear-gradient(
    320.28deg,
    #8945ec 4.54%,
    rgba(137, 69, 236, 0.5) 113.11%
  );
  flex-grow: 1;
  border-radius: 45px;
}

/* ****************************************
********************************************************************************
*******************************************************************************************************
***************************************************************************************************************** */
img {
  display: block;
  max-width: 100%;
}
a {
  display: inline;
}
.bg-orange {
  background: orangered;
}
.bg-red {
  background: darkred;
}
.bg-pink {
  background: pink;
}
.bg-black {
  background: black;
}
.bg-green {
  background: green;
}
.bg-yellow {
  background: yellow;
}
.bg-gold {
  background: gold;
}
.border {
  border: 2px solid greenyellow;
}
.d-inline-block {
  display: inline-block;
}
.full-height {
  height: 100%;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.order-3 {
  order: 3;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-3 {
  gap: 3rem;
}
.flex-wrap {
  flex-wrap: wrap;
}
.grow-1 {
  flex-grow: 1;
}
.flex-no-wrap {
  flex-wrap: nowrap;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.justify-left {
  justify-content: left;
}
.justify-center {
  justify-content: center;
}
.justify-right {
  justify-content: right;
}

.justify-space-between {
  justify-content: space-between;
}
.align-start {
  align-items: flex-start;
}
.align-center {
  align-items: center;
}
.align-stretch {
  align-items: stretch;
}
.align-end {
  align-items: flex-end;
}

.align-slef-center {
  align-self: center;
}

.align-slef-start {
  align-self: flex-start;
}

.align-slef-right {
  align-self: flex-end;
}

.d-none {
  display: none;
}
.block {
  display: block;
}

.grid {
  display: grid;
}
.tow-columns {
  grid-template-columns: repeat(2, 1fr);
}
/* MARGIN */
.m-auto {
  margin: auto;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}

.mr-1 {
  margin-right: 1rem;
}
.mr-2 {
  margin-right: 2rem;
}
.mr-3 {
  margin-right: 3rem;
}
.mr-4 {
  margin-right: 4rem;
}

.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my-4 {
  margin: 4rem 0;
}
/* PADDING */
.px-1 {
  padding: 0 1rem;
}
.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-3 {
  padding: 0 3rem;
}
.px-4 {
  padding: 0 4rem;
}
.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.py-4 {
  padding: 4rem 0;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.p-4 {
  padding: 4rem;
}
.pt-1 {
  padding-top: 1rem;
}
.pt-2 {
  padding-top: 2rem;
}
.pt-3 {
  padding-top: 3rem;
}
.pt-4 {
  padding-top: 4rem;
}
.pl-1 {
  padding-left: 1rem;
}
.pl-2 {
  padding-left: 2rem;
}
.pl-3 {
  padding-left: 3rem;
}
.pl-4 {
  padding-left: 4rem;
}
.pr-1 {
  padding-right: 1rem;
}
.pr-2 {
  padding-right: 2rem;
}
.pr-3 {
  padding-right: 3rem;
}
.pr-4 {
  padding-right: 4rem;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

/* Mobile styles */
@media only screen and (max-width: 768px) {
  /* Flex Box  */

  .sm-flex-column {
    flex-direction: column;
  }
  .sm-mt-1 {
    margin-top: 1rem;
  }
  .sm-mt-2 {
    margin-top: 2rem;
  }
  .sm-mt-3 {
    margin-top: 3rem;
  }
  .sm-mt-4 {
    margin-top: 4rem;
  }
  .sm-my-1 {
    margin: 1rem 0;
  }
  .sm-my-2 {
    margin: 2rem 0;
  }
  .sm-my-3 {
    margin: 3rem 0;
  }
  .sm-my-4 {
    margin: 4% 0;
  }
  /* Padding */
  .sm-px-1 {
    padding: 0 1rem;
  }
  .sm-px-2 {
    padding: 0 2rem;
  }
  .sm-px-3 {
    padding: 0 3rem;
  }
  .sm-px-4 {
    padding: 0 4rem;
  }
  .sm-py-1 {
    padding: 1rem 0;
  }
  .sm-py-2 {
    padding: 2rem 0;
  }
  .sm-py-3 {
    padding: 3rem 0;
  }
  .sm-py-4 {
    padding: 4rem 0;
  }
  .sm-p-1 {
    padding: 1rem;
  }
  .sm-p-2 {
    padding: 2rem;
  }
  .sm-p-3 {
    padding: 3rem;
  }
  .sm-p-4 {
    padding: 4rem;
  }
  .sm-pt-1 {
    padding-top: 1rem;
  }
  .sm-pt-2 {
    padding-top: 2rem;
  }
  .sm-pt-3 {
    padding-top: 3rem;
  }
  .sm-pt-4 {
    padding-top: 4rem;
  }
  .sm-pl-1 {
    padding-left: 1rem;
  }
  .sm-pl-2 {
    padding-left: 2rem;
  }
  .sm-pl-3 {
    padding-left: 3rem;
  }
  .sm-pl-4 {
    padding-left: 4rem;
  }
  .sm-pr-1 {
    padding-right: 1rem;
  }
  .sm-pr-2 {
    padding-right: 2rem;
  }
  .sm-pr-3 {
    padding-right: 3rem;
  }
  .sm-pr-4 {
    padding-right: 4rem;
  }

  /* GAP */
  .sm-gap-1 {
    gap: 1rem;
  }
  .sm-gap-2 {
    gap: 2rem;
  }
  .sm-gap-3 {
    gap: 3rem;
  }
  .sm-gap-4 {
    gap: 4rem;
  }
}

/* Tablet (landscape) styles */
@media only screen and (min-width: 769px) {
  .md-d-none {
    display: none;
  }
  .md-flex {
    display: flex !important;
  }
  .md-order-1 {
    order: 1;
  }
  .md-order-2 {
    order: 2;
  }
  .md-order-3 {
    order: 3;
  }
  .md-block {
    display: block !important;
  }
  /* MD MARGIN */
  .md-mx-1 {
    margin-inline: 1rem;
  }
  .md-mx-2 {
    margin-inline: 2rem;
  }
  .md-mx-3 {
    margin-inline: 3rem;
  }
  .md-mx-4 {
    margin-inline: 3rem;
  }

  .md-my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .md-my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .md-my-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .md-my-4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .md-ml-1 {
    margin-left: 1rem;
  }
  .md-ml-2 {
    margin-left: 2rem;
  }
  .md-ml-3 {
    margin-left: 3rem;
  }
  .md-ml-4 {
    margin-left: 4rem;
  }
  .md-mr-1 {
    margin-right: 1rem;
  }
  .md-mr-2 {
    margin-right: 2rem;
  }
  .md-mr-3 {
    margin-right: 3rem;
  }
  .md-mr-4 {
    margin-right: 4rem;
  }
  .md-mt-1 {
    margin-top: 1rem;
  }
  .md-mt-2 {
    margin-top: 2rem;
  }
  .md-mt-3 {
    margin-top: 3rem;
  }
  .md-mt-4 {
    margin-top: 4rem;
  }

  /* MD PADDING */

  .md-py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .md-py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .md-py-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .md-py-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .md-px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .md-px-2 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .md-px-3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .md-px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .md-pl-1 {
    padding-left: 1rem;
  }
  .md-pl-2 {
    padding-left: 2rem;
  }
  .md-pl-3 {
    padding-left: 3rem;
  }
  .md-pl-4 {
    padding-left: 4rem;
  }
  .md-pr-1 {
    padding-right: 1rem;
  }
  .md-pr-2 {
    padding-right: 2rem;
  }
  .md-pr-3 {
    padding-right: 3rem;
  }
  .md-pr-4 {
    padding-right: 4rem;
  }
  .md-p-1 {
    padding: 1rem;
  }
  .md-p-2 {
    padding: 2rem;
  }
  .md-p-3 {
    padding: 3rem;
  }
  .md-p-4 {
    padding: 4rem;
  }
  /* GAP */
  .md-gap-1 {
    gap: 1rem;
  }
  .md-gap-2 {
    gap: 2rem;
  }
  .md-gap-3 {
    gap: 3rem;
  }
  .md-gap-4 {
    gap: 4rem;
  }
}

/* Tablet (landscape) styles */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
}

/* Desktop and laptop styles */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
}

/* Large screen styles */
@media only screen and (min-width: 1201px) {
}

/* WebKit browsers (Chrome, Safari) */
.list::-webkit-scrollbar {
  width: 6px;
}

.list::-webkit-scrollbar-track {
  background: rgba(137, 69, 236, 0.17);
  border-radius: 30px;
}

.list::-webkit-scrollbar-thumb {
  width: 6px;
  height: 10.27px;
  background: #8945ec;
  border-radius: 20px;
}
